@using Probably_Project.Data.Entities;
@model dynamic;

@{
    <div class="watch-film text-center center">
        <div class="design">
            @foreach (var item in Model.Films)
            {
                <h3>@item.Title</h3>
                <div class="d-flex flex-row">
                    <img class="filmImg" src="@Url.Content($"/File/images/{item.Img}")" />
                    <div class="d-flex flex-column text-lg-start gap-1 m-1">
                        <label>Graduation year: @item.GraduationYear</label>
                        <label>Country: @item.Country.Name</label>
                        <label>Genre: @item.Genre.Name</label>
                    </div>
                </div>
                <div id="desc">
                    <label>@item.Description</label>
                    <label>Duration: @item.Duration min</label>
                </div>
                <video src="@Url.Content($"/File/movies/{item.Video}")" id="video" controls />
            }
        </div>
    </div>
}